.list {
	background-color: #EFEFEF;
	border: 2px solid #DDD;
	margin-bottom: 10px;
	text-align: center;
}

.new-list {
	background-color: #EFEFEF;
	border: 2px solid #DDD;
	padding-top: 20px;
}

#error_explanation {
	padding-left: 20px;
	padding-bottom: 10px;
	color: #FF0000;
}

.error-line {
	color: #FF0000;
}